.wget-hsts
*.bak
.bash_history
downloads
container/home/yocto/build-rpi/
container/home/yocto/poky/
container/opt/poky/
container/home/yocto/meta-*
container/home/yocto/.*
nohup.out*
.repo
bin
docker/toolchain/poky-*.sh
